version: '3.3'

services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run start
    ports:
      - 3000:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - 5000:80
    command: npm run dev
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    depends_on:
      - postgres-dev-db
    environment:
      PORT: 80

  postgres-dev-db:
    image: postgres:10.3
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: vantaa_pwa_culture_events
      TELIA_USERNAME: vantaa
      TELIA_PASSWORD:
      TELIA_USER: Vantaa

  admin:
    image: adminer
    ports:
      - 8080:8080
