version: '3.3'

services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run start
    ports:
      - 3000:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - 5000:80
    command: npm run dev
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    depends_on:
      - postgres-dev-db
    environment:
      PORT: 80
      PAYMENT_RETURN_URL: https://118adc7b.ngrok.io/payments/payment-return
      PAYMENT_NOTIFY_URL: https://118adc7b.ngrok.io/payments/payment-notify
      BAMBORA_SECRET_KEY:
      BAMBORA_API_KEY:
      TELIA_USERNAME: vantaa-zylinc
      TELIA_PASSWORD:
      TELIA_USER: Vantaa
      BAMBORA_PRODUCT_ID:
      BAMBORA_PRODUCT_TITLE: Saldovaraus Jumppaliput-sovellukseen

  postgres-dev-db:
    image: postgres:10.3
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: vantaa_pwa_culture_events

  admin:
    image: adminer
    ports:
      - 8080:8080
