version: '3.3'

services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /frontend/node_modules
    command: yarn run start
    ports:
      - 3000:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - 5000:80
    command: npm run dev
    volumes:
      - ./backend:/backend
    depends_on:
      - postgres-dev-db
    environment:
      PORT: 80
      PAYMENT_RETURN_URL: https://118adc7b.ngrok.io/payments/payment-return
      PAYMENT_NOTIFY_URL: https://118adc7b.ngrok.io/payments/payment-notify
      BAMBORA_SECRET_KEY: 267e417772b5e6eab74925e0b244865e
      BAMBORA_API_KEY: 29925487a8624661db983b9c854118b38919
      BAMBORA_PRODUCT_ID: 327554_163423301_MF
      BAMBORA_PRODUCT_TITLE: Saldovaraus Jumppaliput-sovellukseen
      TELIA_USERNAME: vantaa-zylinc
      TELIA_PASSWORD:
      TELIA_USER: Vantaa
      SEED_DB: 0
      AWS_S3_BUCKET_NAME: vantaa
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      DATABASE_HOST: postgres-dev-db

  postgres-dev-db:
    image: postgres:10.3
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres

  admin:
    image: adminer
    ports:
      - 8080:8080