@page {
  size: A4 portrait;
  margin: 36pt;
}

@page:right {
  @bottom-left {
    border-top: 0.25pt solid #666;
    content: counter(page);
    color: #0b5ba5;
  }
}

body {
  position: absolute;
  overflow: auto;
}

.page-break {
  page-break-before: always;
  page-break-inside: avoid;
}
