body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  background-color: rgb(60, 143, 222);
  font-family: GT-Walsheim, sans-serif;
}

#root {
  background-color: rgba(200, 200, 200, 1);
  height: 100%;
  width: 100%;
  will-change: filter;
}

/* */
@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Thin.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Medium.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Bold-Oblique.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Ultra-Bold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: GT-Walsheim;
  src: url('./assets/GT-Walsheim-Black.otf');
  font-weight: 900;
  font-style: normal;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  box-sizing: border-box;
  font-family: 'GT-Walsheim', sans-serif;
}

/* responsive designs */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  body {
    max-height: 100%;
    max-width: 100%;
  }
  html {
    min-height: 480px;
  }

  /* for small devices */
  @media (max-width: 320px) {
    html {
      font-size: 6px;
    }
  }
}

@media only screen and (min-width: 600px) {
  body {
    padding: 0;
  }
  html {
    min-height: 580px;
    font-size: 16px;
  }
}
