body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: GT-Walsheim, sans-serif;
  transform: translate3d(0, 0, 0); /* Force GPU acceleration */
  position: fixed;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  will-change: filter;
}

.loading-background {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100000;
  background-color: #0b5ba5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.rotating-square {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  animation: spin 1.5s infinite;
}
.pulsating-text {
  animation: pulse 1.5s infinite;
}
/* */
@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Bold-Oblique.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Ultra-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('./assets/GT-Walsheim-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  box-sizing: border-box;
  font-family: 'GT-Walsheim', sans-serif;
}

/* responsive designs */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  body {
    max-height: 100%;
    max-width: 100%;
  }
  html {
    min-height: 480px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    padding: 0;
  }
  html {
    min-height: 580px;
    font-size: 14px;
  }
}
